@media ( max-width: 376px )
    .media-header-carousell
        align-items: baseline !important
        width: 90% !important
    .media-header-carousell-button
        flex-direction: column !important
        justify-content: start
        align-items: flex-start
        gap: 10px !important
        margin: 0 !important
    .media-about
        flex-direction: column !important
    .media-whyUs
        flex-direction: column !important
    .media-whyUs-card
        width: 100% !important
    .menu-hover
        &::after
            content: '.........' !important
    .media-special
        flex-direction: column !important
        .media-special-list
            border: none !important
            width: 100% !important
        .media-special-image
            flex-direction: column-reverse !important
            width: 100% !important
            .media-special-text
                width: 100% !important
            .media-special-img
                width: 100% !important
    .media-event
        flex-direction: column !important
        padding: 50px 0 !important
        img
            width: 100% !important
    .media-bookAtable
        flex-direction: column !important
        .media-bookAtable-image
            img
                width: 100% !important
        .media-bookAtable-inputs
            padding: 2vh 0 !important
            .media-bookAtable-input
                flex-direction: column !important
                width: 100% !important
                padding: 0 15px !important
                input
                    width: 100% !important
            .media-bookAtable-div-button
                display: flex !important
                justify-content: center !important
                width: 100% !important
                .media-bookAtable-button
                    width: 60vw !important
    .images-galery
        display: grid !important
        grid-template-columns: auto !important
        grid-template-rows: repeat(8, auto) !important
        width: 100% !important
        height: 250vh !important
        gap: 3px
    .media-chef
        flex-direction: column !important
        gap: 6rem !important
        .media-bg-chefs
            width: 100% !important
    .images-chef
        width: 30vw !important
        height: 15vh !important
        img
            width: 28vw !important
            height: 14vh !important
    .contact-form
        flex-direction: column !important
        align-items: center !important
        width: 100vw !important
    .contact-info
        height: 60vh !important
    .contact-inputs
        form
            width: 90vw !important
            button
                width: 50vw !important
    .media-footer
        flex-direction: column !important
        .media-footer-card
            width: 100% !important
    .media-footer-copyright
        margin-top: 20px !important